<h1>View Committee</h1>

<table>
    <tr>        
        <th>Committee Name</th>
        <th>Committee Amount</th>
        <th>Bidding Frequency (No. of Days)</th>     
        <th>Next Bidding Date</th>
    </tr>
    <% userCommittee.forEach(committee => { %>
    <tr>
        <td><%= committee.committeeName%></td>
        <td><%= committee.committeeAmount%></td>        
        <td><%= committee.biddingFrequency%></td>
        <td><%= moment(committee.committeeDetails[committee.committeeDetails.length - 1].poolStartDate).format('MMM-DD-YYYY')%></td>
        
        <td><a href="/<%= committee._id%>/enter">Enter Committee</a></td>        
    </tr>
    <% }) %>

</table>

<a href="/">Home</a>